# Ignorer les dossiers obj, bin et img
obj/
bin/
img/
*.o
*.pgm
*.ppm

# Cache
.vscode/
.idea/
.DS_Store

# TP Mosaïque
in/
out/
base_images.txt
mosaique
/base_images
TP_Mosaique/base_images_ppm.txt
TP_Mosaique/mosaique_ppm
