# Ignore files without extension
*
!*.*
!*/

# Ignorer les dossiers obj, bin et img
obj/
bin/
img/*
pgm/*
ppm/*
*.o
*.pgm
*.ppm

# Cache
.vscode/
.idea/
.DS_Store

doc.cpp
doc2.cpp

# TP Mosaïque
in/
out/
base_images.txt
TP_Mosaique/base_images_ppm.txt
/base_images
/venv
